.slideInFromRight {
  transform: translateX(50%);
  animation: slideInFromRight 2s ease-in-out forwards;
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInFromLeft {
  transform: translateX(-50%);
  animation: slideInFromLeft 2s ease-in-out forwards;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
