.slideInFromRight {
  transform: translateX(50%);
  animation: slideInFromRight 1s ease-in-out forwards;
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInFromLeft {
  transform: translateX(-50%);
  animation: slideInFromLeft 1s ease-in-out forwards;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInFromTop {
  transform: translateY(-50%);
  animation: slideInFromTop 1s ease-in-out forwards;
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-draw {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 6s ease-in-out 1s forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.cls-5,
.cls-4 {
  opacity: 0;
  fill: hsl(26 22% 99%);

  animation: filling 1s ease-in-out 2s forwards;
}

@keyframes filling {
  from {
    opacity: 0;
    fill: hsl(26 22% 99%);
  }
  to {
    opacity: 1;
    fill: hsl(25, 21%, 10%);
  }
}

.fade {
  opacity: 0;
  animation: fade 1.5s ease-in forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide-in-enter {
  transform: translateX(-150vw);
}

.slide-in-enter-active {
  transform: translateX(0);
  transition: transform 2s ease-out;
}

.slide-in-exit {
  transform: translateX(0);
  opacity: 1; /* Opacité pendant la sortie */
}

.slide-in-exit-active {
  transform: translateX(150vw);
  opacity: 0; /* Opacité pendant la sortie */
  transition:
    transform 1s ease-in,
    opacity 1s ease-in; /* Transition pour les deux propriétés */
}
